body {
    background: #333;
    color: #000;
    font-family: Calibri, Arial, sans-serif;
    font-size: 150%;
    margin: 0; /* keep this */
}

header {
  background: #000;
  color: #fff;
  float: left;
  width: 100%;
  position: fixed;
  height: 70px;
}

h1 {
  display: inline;
  margin-left: 20px;
}

article {
  width: 40%;
  float: left;
  padding: 10px 40px;
  margin: 30px auto;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
      box-sizing: border-box;

}

h2, div > p {
  text-align: center;
}

img {
  display: block;
  margin: auto;
}

div {
  width: 50%;
  margin: 0;
  float: left;
}

#cougar {
  background: #FFD5AE;
  overflow: auto;
  padding-top: 60px;
  padding-bottom: 30px;
}

#lion {
  background: #B26219;
  overflow: auto;
  padding-top: 60px;
  padding-bottom: 30px;
}

#tiger {
  background: #FFBD82;
  overflow: auto;
  padding-top: 60px;
  padding-bottom: 30px;
}

footer {
  color: #fff;
  clear: both;
  text-align: center;
  margin: 20px 50px;
}



/* ----- suggested colors -----
   B26219 cinnamon
   FFD5AE pale peach
   FFBD82 peach
   379CB2 medium blue
   82E8FF light blue

   ----- neutral colors -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- links and nav --- */

a { color: #379CB2; }
a:hover { color: #82E8FF; }

nav {
  float: right;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  float: left;
  margin: 20px 60px;
}
